<h2>All Heroines</h2>

<% if @error %>
<p><%= @error %></p>
<% end %>

<%= form_tag "/heroines", method: :get do %>
<p><b>Search by Superpower:</b><br>
<%= text_field_tag "search", @search_text %>
<%= submit_tag "Search" %>
</p>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
