<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <%= link_to "All Heroines", heroines_path %> | <%= link_to "All Powers", powers_path %><br>
  <%= link_to "New Heroine", new_heroine_path %> | <%= link_to "New Power", new_power_path %>

</html>
